Binaries
DerivedDataCache
Intermediate
Saved
*.opensdf
*.sdf
*.sln
*.suo
*.xcodeproj
Content/FirstPersonBP/Maps/FirstPersonExampleMap.umap
Content/GlowEnhenced_Inst.uasset
Content/GlowEnhenced_Inst.uasset